* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #333;
}
.nav {
  background-color: #3B3B7A;
  color: #fff;
  padding: 1.63vh 1.58vw;
  width: 100vw;
  height: 10vh;
  text-align: center;
}
.nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.58vw;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  position: relative;
}
.symbol {
  position: absolute;
  margin-right: 14.23vw;
  margin-top: 4.90vh;
  height: 12.35vh;
}
.logo-text {
  margin-top: 0.82vh;
  height: 4.90vh;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background-color: #241F44;
  color: #fff;
}